{% extends "base.html" %}

{% block styles %}
<style>
	body {
		background-color: #004a74;
		{% if bg_image %}background-image: url({{ bg_image }});{% endif %}
		background-size: cover;
	}
	.btn-link{
		color: #20aeff;
		text-shadow: none;
	}
	.btn-link:hover{
		color: #20aeff;
	}
</style>

{% endblock styles %}
{% block content %}
<a href="https://lh3.googleusercontent.com/4O2dwU4wZoVxHIynlppq7veRL4zMOknda1KYX8F6xX81trdH3F4BnjJQGembWnATNgdlIBOC30HCnhnXgZiBQBOzA3PFhJrWBkmdF16Zj-mZW_aw1SicudoxrH7DxRfWH8EXGA3CTQ=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/4O2dwU4wZoVxHIynlppq7veRL4zMOknda1KYX8F6xX81trdH3F4BnjJQGembWnATNgdlIBOC30HCnhnXgZiBQBOzA3PFhJrWBkmdF16Zj-mZW_aw1SicudoxrH7DxRfWH8EXGA3CTQ=w196-h131-p-k" /> </a>
<h1>{{title}}</h1>
<h4>Shorten that URL </h4> 
<p>  </p>     				 
   						 	
 <p class="lead">This is the perfect free URL Shortening Service for transforming long, traditional, ugly links into nice, memorable URLs. 
 Use it to shorten links to share it with others anywhere on the net, be it, any social media platform, blog, SMS, email, ads, or pretty much anywhere else you want to share them. 
Get Freedom from those long URLs !!</p>
<p class="lead"> Please note: This is my first project ! Also, the shortened URLs are temporary and will expire in few hours... </p>
 	
<p class="lead">
			<form method="POST" action="." > {% csrf_token %}
					<!--<input name='url' type="text" placeholder="Shorten Your URL"/> -->
					{{ form.as_p }}
					<button type="submit" class="btn btn-outline-light">Shorten &raquo;</button>
							

			</form>
	</div>
</p>
	

{% endblock content %}
